{
	"parserOpts": {
		"allowReturnOutsideFunction": true
	},
	"generatorOpts": {
		"comments": false,
		"retainLines": false
	},
	"presets": [
		[
			"@babel/preset-env",
			{
				"modules": false,
				"targets": {
					"rhino": "1.7.12"
				}
			}
		],
		["minify", { "builtIns": false }]
	]
}
