language: node_js

cache: yarn

dist: bionic

node_js:
    - 'lts/*'
    - 'node'

os:
    - windows
    - linux

# See https://travis-ci.community/t/build-doesnt-finish-after-completing-tests/288/9
env:
    - YARN_GPG=no

# safelist
branches:
    only:
        - master
        - /^feat/.*$/
        - /^dependabot/.*$/
