name: CI

on:
    push:
        branches:
            - master
        paths-ignore:
            - "docs/**"
            - "*.md"
    pull_request:
        branches:
            - master
        paths-ignore:
            - "docs/**"
            - "*.md"

jobs:
    cleanup-runs:
        name: Clean-Up Running Instances
        if: "!startsWith(github.ref, 'refs/tags/') && github.ref != 'refs/heads/master'"
        runs-on: ubuntu-latest
        steps:
            - uses: rokroskar/workflow-run-cleanup-action@master
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    lint:
        name: Lint Code
        if: github.event.pull_request.draft == false
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2.3.4
            - uses: actions/setup-node@v2.1.5
              with:
                  node-version: 16
            - name: Get NPM Cache Directory
              id: npm-cache-dir
              run: |
                  echo "::set-output name=dir::$(npm config get cache)"
            - uses: actions/cache@v2.1.5
              id: npm-cache
              with:
                  path: ${{ steps.npm-cache-dir.outputs.dir }}
                  key: ${{ runner.os }}-${{ matrix.node-version }}-node-${{ hashFiles('**/package-lock.json') }}
                  restore-keys: |
                      ${{ runner.os }}-${{ matrix.node-version }}-node-
            - name: Install
              run: npm ci --ignore-scripts
            - name: Run ESLint
              run: npm run lint
            - name: Run Prettier
              run: npm run lint:prettier:ci
            - name: Run Lockfile Linter
              run: npx lockfile-lint --path package-lock.json --type npm --allowed-hosts npm --validate-https

    commit-lint:
        name: Lint Commit Messages
        if: >
            github.event.pull_request.draft == false &&
            github.actor != 'dependabot[bot]'
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2.3.4
              with:
                  fetch-depth: 0
            - uses: wagoid/commitlint-github-action@v3.1.1
              with:
                  configFile: ./package.json

    build:
        name: Build
        if: github.event.pull_request.draft == false
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2.3.4
            - uses: actions/setup-node@v2.1.5
              with:
                  node-version: 16
            - name: Get NPM Cache Directory
              id: npm-cache-dir
              run: |
                  echo "::set-output name=dir::$(npm config get cache)"
            - uses: actions/cache@v2.1.5
              id: npm-cache
              with:
                  path: ${{ steps.npm-cache-dir.outputs.dir }}
                  key: ${{ runner.os }}-${{ matrix.node-version }}-node-${{ hashFiles('**/package-lock.json') }}
                  restore-keys: |
                      ${{ runner.os }}-${{ matrix.node-version }}-node-
            - name: Install
              run: npm ci --ignore-scripts
            - name: Run Babel
              run: npm run build

    # This job is used to save the PR number in an artifact, for use in the automerge.yml workflow
    save-pr-number:
        name: Save PR Number
        if: >
            github.event.pull_request.draft == false && 
            github.event_name == 'pull_request'
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2.3.4
            - name: Save PR Number
              run: |
                  mkdir -p ./pr
                  echo ${{ github.event.number }} > ./pr/NR
            - uses: actions/upload-artifact@v2.2.3
              with:
                  name: pr
                  path: pr/
